<div [formGroup]="form" class="course-details-form">
    <mat-form-field>
        <input matInput placeholder="Course Title" formControlName="title" #title maxlength="60" minlength="5" />
        <mat-hint align="end">
            {{title.value.length}} / 60
        </mat-hint>
        <!--
        <span matPrefix>+32</span>
        <span matSuffix>.00</span>
        -->
        <mat-error *ngIf="courseTitle.errors?.minlength">
            A minimum length of 5 characters is required.
        </mat-error>
    </mat-form-field>
    <!-- does NOT have to be wrapped -->
    <mat-radio-group class="course-type" formControlName="courseType">
        <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
        <mat-radio-button value="premium">Premium</mat-radio-button>
    </mat-radio-group>
    <!-- select box should be wrapped in a mat-form-field -->
    <mat-form-field appearance="fill">
        <mat-select formControlName="category" placeholder="Select category">
        <!-- for multiselect? -->
        <!-- <mat-select formControlName="category" placeholder="Select category" multiple> -->
            <mat-option>None</mat-option>
            <mat-optgroup label="BEGINNERS">
                <mat-option value="newprogramming">New To Programming</mat-option>
                <mat-option value="newjavascript">New To Javascript</mat-option>
                <mat-option value="newangular">New To Angular</mat-option>
            </mat-optgroup>
            <!-- <mat-option value="BEGINNERS">Beginners</mat-option> -->
            <mat-option value="INTERMEDIATE">Intermediate</mat-option>
            <mat-option value="ADVANCED">Advanced</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- date picker -->
    <!-- <mat-form-field appearance="outline">
        <input matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedAtPicker">
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker></mat-datepicker>
    </mat-form-field> -->
    <!-- highlight date picker -->
    <mat-form-field appearance="outline">
        <input matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedAtPicker">
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker [dateClass]="dateClass"></mat-datepicker>
    </mat-form-field>
    <!-- [disabled]="true" -->
    <!--
        indeterminate forces user interaction and will resolve to true OR false
        good for select all checkboxes when youare in a middle state
    -->
    <mat-checkbox formControlName="downloadsAllowed" color="primary"
        [indeterminate]="true"
        >Downloads allowed?
    </mat-checkbox>
    <mat-form-field appearance="outline">
        <!-- resize the textarea accordingly w cdk utilities-->
        <textarea matInput placeholder="Description" formControlName="longDescription"
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="2"
            [cdkAutosizeMaxRows]="5"
            ></textarea>
    </mat-form-field>
</div>
